* {
	margin: 0;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 0;
}

.padding0 {
	padding-left: 0;
	padding-right: 0;
}

.blue {
	background-color: blue;
}

main .container, main .container-fluid {
	margin-top: 20px;
	margin-bottom: 30px;
}

.height400 {
	height: 400px;
	border-right: 1px solid #fff;
}

.height200 {
	height: 200px;
}

.height200:first-child {
	border-bottom: 1px solid #fff;
}

body {
	background-color: #f5f4f4;
}

.left-arrow:before {
	content: '';
	display: block;
	clear: both;
	position: absolute;
	top: 45%;
	left: -10px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #fff;
}

.up-arrow:after {
	content: '';
	display: none;
	clear: both;
	position: absolute;
	top: -10px;
	left: 47%;
	border-left: 15px solid transparent;
	border-bottom: 15px solid #fff;
	border-right: 15px solid transparent;
}

.down-arrow:after {
	content: '';
	display: none;
	clear: both;
	position: absolute;
	bottom: -10px;
	left: 47%;
	border-top: 15px solid #fff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.right-arrow:before {
	content: '';
	display: block;
	clear: both;
	position: absolute;
	top: 45%;
	right: -10px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
}

.w-100 {
	display: none;
}