@import 'fonts/fonts';
@import 'colors/colors';

@font-face {
  font-family: bold;
  src: url('Proxima_Nova_Bold.otf');
}

@font-face {
  font-family: exbold;
  src: url('Proxima_Nova_Extrabold.otf');
}

@font-face {
  font-family: regular;
  src: url('Proxima_Nova_Regular.otf');
}

.header {
  min-height: 348px;
  background-image: url('images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: bold;

  .navigation {
  	width: 100%;
  	padding: 40px 0;
    background: rgba(0, 0, 0, 0.75);
  }

  nav {
  	ul {
  		margin-left: 30px;
  	}

  	li {
  		float: left;
  		margin-right: 20px;
  	}

  	a {
  		color: $white;
  		font-size: $fs-18;
  		text-transform: capitalize;
  		padding-bottom: 12px;
  	}

  	a:hover, .active {
  		border-bottom: 1px solid $main-color;
  	}

  	.fav-tours {
  		color: $yellow;
  	}

  	.fav-tours:hover {
  		border-bottom: 1px solid $yellow;
  	}
  }

  .header-buttons {
  	display: inline-block;

  	button {
  		background: none;
  		border: none;
  		outline: none;
  		margin-left: 15px;
  	}

  	button:hover {
  		cursor: pointer;
  	}
  }

  .choose {
  	color: $white;
  	font-size: $fs-20;
  	text-transform: capitalize;
  	text-align: center;
  	margin-top: 50px;
    font-family: exbold;

  	h1 {
  		font-size: $fs-36;
  		font-weight: bold;
      text-shadow: 1px 1px 10px #000;
  	}

  	p {
  		font-weight: bold;
  		font-style: italic;
      text-shadow: 1px 1px 10px #000;
      margin-bottom: 10px;
  	}

  	.choose-button {
  		display: inline-block;
  		color: $white;
  		font-size: $fs-18;
  		background: rgba(0, 0, 0, .5);
  		padding: 10px;
  		margin-right: 15px;
  		cursor: pointer;
  		transition: 0.2s;
  		position: relative;
      font-family: regular;
  	}

    .choose-button img {
      margin-left: 5px;
      
    }

  	.choose-button:hover {
  		background: rgba(0, 0, 0, .7);
  	}

  	.dropdown {
  		background-color: gray;
  		width: 150px;
        z-index: 2;
  		position: absolute;
  		left: 0;
  		top: 47px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  		display: none;

      .dropdown-content {
        margin-left: 0;
        font-size: $fs-14;

        img {
          margin-right: 8px;
          margin-top: -2px;
        }

        li {
          background: #f2f2f2;
          color: #000;
          width: 100%;
          text-align: left;
          padding: 5px;
        }

        li:hover {
          background: #e4e3e3;
        }
      }
  	}

  	.choose-button:hover .dropdown {
  		display: block;
  	}
  }
}

main {
  font-family: bold;

  h2 {
    color: $main-color;
    font-size: $fs-30;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  h2:after {
    content: '';
    display: block;
    font-size: 0;
    width: 50px;
    height: 1px;
    background: $main-color;
  }

  .text-center h2:after {
    margin: auto;
  }
  #tours {
    .tour {
      position: relative;
      width: 100%;
      min-height: 240px;
      margin-bottom: 30px;

      .price {
        position: absolute;
        right: -20px;
        top: -20px;
        width: 60px;
        height: 60px;
        background-color: $main-color;
        color: $white;
        font-size: $fs-18;
        z-index: 2;
        text-align: center;
        line-height: 60px;
      }

      .category {
        position: absolute;
        top: 0;
        left: 0;
        background: $yellow;
        padding: 5px 10px;
        color: $white;
        font-size: $fs-16;
        text-transform: capitalize;
        z-index: 2;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .tour-header {
        position: absolute;
        width: 100%;
        height: 40px;
        left: 0;
        bottom: 0;
        background: $main-color;
        text-align: left;
        padding: 0 10px;
        transition-property: height;
        transition: 0.5s;
        overflow: hidden;

        a {
          color: $white;
          display: inline-block;

          h3 {
            line-height: 40px;
            font-size: $fs-20;
          }

          h3:after {
            content: '';
            display: block;
            clear: both;
            width: 35px;
            height: 2px;
            background: $yellow;
          }
        }

        .tour-header-desc {
          font-size: $fs-16;
          color: $white;
          display: none;

          p {
            margin: 10px 0;
          }

          .more {
            display: inline-block;
            text-transform: capitalize;
            padding: 5px 10px;
            border: 1px solid $white;
            border-radius: 5px;
            transition: 0.2s;
          }

          .more:hover {
            background-color: $white;
            color: $main-color;
          }

          .date {
            float: right;
            font-size: $fs-14;
            margin-top: 8px;
          }
        }
      }

      .tour-header:hover .tour-header-desc {
        display: block;
      }

      .tour-header:hover {
        height: 65%;
      }
    }
  .view {
    display: inline-block;
    background-color: $yellow;
    padding: 15px;
    color: $white;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: regular;
    transition: 0.3s;
  }

  .view:hover {
    background-color: #ddb81c;
  }
  }


  #offers {
    .offer {
      position: relative;
      background-color: red;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
      }

      .offer-desc {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: left;
        padding: 15px;
        color: $white;
        z-index: 2;

        h3 {
          font-size: $fs-30;
        }
      }

      .offer-desc:before {
        content: '';
        display: block;
        width: 100%;
        min-height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000 80%);
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
      }
    }

    .offer:hover img {
      transform: scale(1.2);
    }
  }

  #happy-clients {

    .client-picture {

      img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $main-color;
      }
    }

    .client-comment {
      width: 100%;
      background: $white;
      border-radius: 10px;
      text-align: left;
      padding: 15px 30px;
      position: relative;
      margin-bottom: 20px;

      h4 {
        font-size: $fs-24;
        color: $main-color;
        text-transform: capitalize;
      }

      .client-comment-article {
        color: $gray;
        font-size: $fs-16;
        margin: 10px 0;
        font-family: regular;

        .more {
          color: $gray;
          text-transform: capitalize;
          font-size: $fs-16;
          text-decoration: underline;
          font-weight: bold;
        }
      }

      .client-comment-date {
        text-align: right;
        font-family: regular;
        font-style: italic;
        font-weight: bold;
        font-size: $fs-14;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}

#footer {
  background: $main-color;
  padding-top: 10px;
  padding-bottom: 30px;
  color: $white;
  font-family: regular;

  h5 {
    font-size: $fs-24;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-family: bold;
  }

  h5:after {
    content: '';
    display: block;
    clear: both;
    background: $yellow;
    width: 30px;
    height: 2px;
    margin-top: 5px;
  }

  .footer-social {
    .footer-social-menu {
      ul {
        li{
          float: left;
          margin-right: 25px;

          a {
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            border: 1px solid $white;
            border-radius: 50%;
            transition: 0.2s;
          }

          i {
            color: $white;
            font-size: $fs-24;
            line-height: 50px;
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        li:last-child {
          margin-right: 0 !important;
        }

        a:hover {
          background: $white;
        }

        a:hover .fa-facebook {
          color: #3B5998;
        }

        a:hover .fa-twitter {
          color: #00aced;
        }

        a:hover .fa-google-plus {
          color: #dd4b39;
        }

        a:hover .fa-instagram {
          color: #bc2a8d;
        }
      }
    }
  }

  .footer-contact {
    font-size: $fs-16;
    text-transform: capitalize;

    b {
      margin-right: 8px;
    }
  }

  .footer-newsletter {
    h6 {
      font-size: $fs-16;
      text-transform: capitalize;
      font-weight: bold;
    }
    form {
      margin-top: 10px;
      border-radius: 5px;
      background: $white;
      outline: none;
      width: 100%;
      input {
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        padding: 10px;
        text-transform: capitalize;
      }

      button {
        float: right;
        padding: 10px;
        border: none;
        outline: none;
        background-color: $gray;
        color: $white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.copyright {
  background: $main-color;
  border-top: 1px solid $white;
  font-size: $fs-16;
  text-align: center;
  padding: 10px 0;
  color: #eeeeee;

  span {
    color: $white;
    font-weight: bold;
  }
}

@media (max-width: 1200px) {
  .choose-button {
    width: 25%;
    margin-bottom: 8px;
  }

  .w-100 {
    display: block;
  }

  .dropdown {
    width: 100% !important;
  }

  .footer-social-menu {
    ul {
      li {
        margin-right: 20px !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .choose-button {
    width: 50%;
  }

  .tours-wrapper {
    display: none;
  }

  .tour {
    margin-bottom: 20px;
  }

  .height400 {
    border-right: none !important;
    border-bottom: 1px solid #fff;
  }

  .height200:first-child {
    border-bottom: none !important;
    border-right: 1px solid #fff;
  }

  .height200 {
    height: 400px !important;
  }

  #footer {
    text-align: center;

    h5:after {
      margin: auto;
    }

    .footer-social-menu {
      ul {
        display: inline-block;
        margin: auto;
      }
    }

    .footer-newsletter {
      form {
        width: 50%;
        margin: auto;
        margin-top: 8px;
      }
    }
  }

  .space20{
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .tour-header:hover {
    height: 55% !important;
  }

  .left-arrow:before, .right-arrow:before {
    display: none !important;
  }

  .up-arrow:after, .down-arrow:after {
    display: block !important;
  }

  .client-comment {
    h4 {
      text-align: center;
    }
  }
}

@media (max-width: 576px) {
  #tours {
    padding: 0 20px;
  }

  .height200 {
    height: 200px !important;
  }
}